$main-white: #fff;

@font-face {
    font-family: "Tungsten";
    src: url("./fonts/tungsten.woff2") format("woff2"),
        url("./fonts/tungsten.woff") format("woff");
}

@font-face {
    font-family: "Rozha";
    src: url("./fonts/RozhaOne-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Neue Montreal";
    src: url("./fonts/NeueMontreal-Bold.woff") format("woff");
    src: url("./fonts/NeueMontreal-Light.woff") format("woff");
    src: url("./fonts/NeueMontreal-Regular.woff") format("woff");
    src: url("./fonts/NeueMontreal-Medium.woff") format("woff");
}

.App {
    text-align: center;
    scroll-behavior: smooth;
    width: 100%;
}
html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    overflow-x: hidden;
    background-color: rgb(15, 15, 15);
    scroll-behavior: smooth;
}
.frontendSvg {
    width: 100%;
    height: 100%;
    background-image: url(./imgs/frontendIllustration.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    background-color: rgb(24, 24, 24);
    box-sizing: border-box;
    z-index: 999;
    .show-nav {
        width: 50%;
        @media screen and (max-width: 1024px) {
            width: 70%;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    .show-shade {
        width: 100%;
    }
}
.h-margin {
    margin: 0 5px;
}
.v-margin {
    margin: 5px 0;
}
.content-standard {
    max-width: 1400px;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}
.border {
    border: 2px solid red;
}

.full-size {
    height: 100%;
    width: 100%;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.align-self-center {
    align-self: center;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.space-between {
    justify-content: space-between;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    .hero-wrap {
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }
    }
    h1 {
        font-size: 200px;
        font-family: "Neue Montreal";
        font-weight: 600;
        margin: 0;
        line-height: 0.8;
        @media screen and (max-width: 1200px) {
            font-size: 160px;
        }
        @media screen and (max-width: 1100px) {
            font-size: 130px;
        }
        @media screen and (max-width: 600px) {
            font-size: 50px;
        }
        @media screen and (max-width: 400px) {
            font-size: 40px;
        }
    }
    h2 {
        font-family: "Rozha One";
        font-weight: 400;
        margin: 0;
        font-size: 60px;
        @media screen and (max-width: 1200px) {
            font-size: 50px;
        }
        @media screen and (max-width: 1100px) {
            font-size: 40px;
        }
        @media screen and (max-width: 600px) {
            font-size: 30px;
        }
        @media screen and (max-width: 400px) {
            font-size: 20px;
        }
    }
    p {
        font-family: "Neue Montreal";
        margin: 0;
        @media screen and (max-width: 1200px) {
            font-size: 25px;
            max-width: 80%;
        }
        @media screen and (max-width: 1100px) {
            font-size: 20px;
        }
        @media screen and (max-width: 600px) {
            font-size: 15px;
        }
        @media screen and (max-width: 400px) {
            font-size: 10px;
        }
    }

    .heroText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
        text-align: left;
        color: $main-white;
        @media screen and (max-width: 1024px) {
            width: 100%;
            text-align: center;
            margin-top: 4rem;
            align-items: center;
        }
    }
    .heroImg {
        width: 50%;
        height: 100%;
        @media screen and (max-width: 968px) {
            width: 100%;
        }
    }
}
.hero-img-box {
    height: 400px;
}
.heroBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    @media screen and (max-width: 600px) {
        top: 70%;
    }
}
.spin {
    transform: rotate(90deg);
}
.heroBgTwo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    transform: scaleX(-1);

    // @media screen and (max-width: 600px) {
    //     top: 300%;
    // }
}

.myStory {
    margin-top: 4rem;
    width: 100%;
    font-family: "Neue Montreal", "Helvetica Neue";
    h1 {
        font-size: 100px;
        margin: 1rem;
        color: white;
        @media screen and (max-width: 1024px) {
            font-size: 80px;
        }
        @media screen and (max-width: 768px) {
            font-size: 60px;
        }
    }
    article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }
        .main-text {
            width: 50%;
            color: white;
            text-align: left;
            @media screen and (max-width: 1024px) {
                width: 70%;
            }
            @media screen and (max-width: 560px) {
                width: 100%;
            }
            strong {
                font-size: 1.7rem;
            }
        }
        .img-wrapper {
            width: 50%;
            display: grid;
            gap: 0px 0px;
            padding: 0 4rem;
            box-sizing: border-box;
            @media screen and (max-width: 1024px) {
                width: 70%;
            }
            .grid-container {
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 0px 0px;
                box-sizing: border-box;
                grid-template-areas:
                    "img1 img1 . ."
                    "img1 img1 . ."
                    "img1 img1 img2 img2"
                    ". . img2 img2"
                    "img3 img3 img2 img2"
                    "img3 img3 . ."
                    "img3 img3 . .";
            }
            img {
                height: auto;
                width: 300px;
                @media screen and (max-width: 1024px) {
                    width: 250px;
                }
                @media screen and (max-width: 768px) {
                    width: 200px;
                }
                @media screen and (max-width: 520px) {
                    width: 150px;
                }
            }
            .img2 {
                box-sizing: border-box;
                justify-self: center;
                align-self: center;
                grid-area: img2;
            }
            .img3 {
                box-sizing: border-box;
                justify-self: center;
                align-self: center;
                grid-area: img3;
            }
            .img1 {
                justify-self: center;
                align-self: center;
                grid-area: img1;
                box-sizing: border-box;
            }
        }
    }
}

.experience {
    margin-top: 4rem;
    position: relative;
    .exp-container {
        @media screen and (max-width: 560px) {
            flex-direction: column;
        }
    }
    .exp-title {
        width: 100%;
        margin-top: 5rem;
        text-align: center;

        h1 {
            color: white;
            font-size: 100px;
            margin: 0;
            @media screen and (max-width: 768px) {
                font-size: 80px;
            }
            @media screen and (max-width: 768px) {
                font-size: 60px;
            }
        }
        h2 {
            color: #c25517;
            margin: 0;
            font-size: 50px;
            @media screen and (max-width: 768px) {
                font-size: 40px;
            }
            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
    }
}
.skills {
    margin-top: 4rem;
    position: relative;
    h1 {
        font-size: 100px;
        color: white;
        margin: 0;
        @media screen and (max-width: 560px) {
            font-size: 70px;
        }
    }
    h2 {
        color: white;
        font-size: 30px;
    }
}
.contact-section {
    margin-top: 4rem;
    color: white;
    position: relative;
    .outer-wrap {
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    .contact-svg {
        height: 300px;
        margin: 4rem 0;
        img {
            height: 100%;
        }
    }
    h1 {
        font-size: 100px;
        margin: 0;
        text-align: left;
        @media screen and (max-width: 768px) {
            font-size: 50px;
        }
    }
    p {
        text-align: left;
        margin: 0;
    }
    .contact-info {
        padding-right: 2rem;
        .address {
            margin: 2rem 0;
            a {
                color: #c25517;
            }
            strong {
                line-height: 2rem;
            }
        }
    }
    article div.form-wrapper,
    article.contact-info {
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}
.up-icon {
    margin: 2rem;
}
footer {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 0;
    height: 500px;
    article {
        border-top: 1px solid white;
        padding: 2rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
        .footer-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }
            .footer-inner {
                margin-top: 2rem;
            }
        }
    }
}
