body {
    margin: 0;
    font-family: "Neue Montreal", "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fixed {
    position: fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
html,
body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
